
@{
    ViewData["Title"] = "CreateResourceDescription";
}

@model ResourceServer.Models.CreateResourceDescriptionViewModel

<article>
    <section>
        <h2>Create Resource Description</h2>

        <div>
            <table id="resourcedescription" style="width: 70%">
                <tbody>
                    <tr>
                        <th scope="row" style="width:20%">Scopes</th>
                        <td class="editable-col" contenteditable="true" style="text-align:left">@Model.Scopes</td>
                    </tr>
                    <tr>
                        <th scope="row" style="width:20%">Name</th>
                        <td class="editable-col" contenteditable="true" style="text-align:left">@Model.Name</td>
                    </tr>
                    <tr>
                        <th scope="row" style="width:20%">Icon URI</th>
                        <td class="editable-col" contenteditable="true" style="text-align:left">@Model.IconUri</td>
                    </tr>
                    <tr>
                        <th scope="row" style="width:20%">Type</th>
                        <td class="editable-col" contenteditable="true" style="text-align:left">@Model.ResourceType</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</article>

